<ul class="nav">
    {% comment %} <li>
        <a href="">
            <i class="fab fa-simplybuilt"></i> 
                    <span><strong>Forum/FAQ</strong></span> 
        </a>
    </li> {% endcomment %}
    <li>
        <a href="{% url 'eos-911' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span><strong>EOS911</strong></span>
        </a>
    </li>
    <li>
        <a href="{% url 'tools' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span><strong>Tools</strong>  </span>
        </a>
    </li>
     <li>
        <a href="{% url 'map' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span><strong>Map</strong></span>
        </a>
    </li>
    <li>
        <a href="{% url 'news' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span><strong>EOSiO News</strong></span>
        </a>
    </li>
    <li>
        <a href="{% url 'steem' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span>#EOS on Steem</span>
        </a>
    </li>
    <li>
        <a href="{% url 'twitter' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span>#EOS on Twitter</span>
        </a>
    </li>
    <li>
        <a href="{% url 'youtube' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span>#EOS on Youtube</span>
        </a>
    </li>
    {% comment %} <li>
        <a href="{% url 'repos' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span>#EOS on Github <span class="label label-theme m-l-5">NEW</span></span>
        </a>
    </li> {% endcomment %}
    <li>
        <a href="{% url 'repos' %}">
            <div class="icon-img">
                <img src="../assets/img/logo/logo-bs4.png" alt="" />
            </div>
            <span>Awesome #EOS</span>
        </a>
    </li>
    <li><a href="{% url 'testnets' %}"><i class="fa fa-calendar"></i> <span>Testnets</span></a></li>
    <li class="menu-control menu-control-left">
        <a href="javascript:;" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
    </li>
    <li class="menu-control menu-control-right">
        <a href="javascript:;" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
    </li>
</ul>